/* Navbar styles */
.main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    background-color: white;
    z-index: 1000;
  }
.navbar{
    padding: 15px 25px;
    display:flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
  }
.nav{
    display:flex;
    flex-flow: row;
    gap: 50px;
    font-size: 1.2rem;
  }
  
  /* Landing page */
  .land-text{
    text-align: center;
    font-size: 3rem;
    font-weight: bolder;
    padding-top: 80px;
    font-style: oblique;
    letter-spacing: .5px;
  }
  /* Admin create panel */
  .blog-main{
    display: flex;
    text-align: center;
    }
  .input-fields{
    display: flex;
    flex-flow: column;
    row-gap: 30px;
    justify-content: center;
    align-items: center;
  }
  .input-fields input{
    height: 50px;
    width: 500px;
    border-radius: 5px;
  }
  .input-fields button{
    width:150px;
    height:40px;
    border-radius: 5px;
  }
  .blog-create{
    height: 75%;
    padding: 80px 0 30px 0;
    width: 700px;
    margin-left: 220px;
    background-color:rgb(250, 247, 247) ;
  }
  .container{
    text-align: center;
    padding: 30px;
  }

  /* Card */
  .card-main{
    height:290px;
    width: 1000px;
    background-color: rgb(250, 247, 247);
    
  }
  .card-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap:30px;
   
  }
  .card-content{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 20px;
  }
  .img-div img{
    height: 250px;
    width:300px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .text-div h1{
    font-size: 1.5rem;
    font-weight: bold;
  }
  .desc{
    font-size: 1.2rem;
    font-weight: 500;
  }
  .post{
    font-size: 1.1rem;
    font-weight: normal;
  }

  /* Blog detailed */

  .blog-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap:30px;
   padding-top: 100px;
  
  }
 .blog-main{
  padding: 0 50px;
 }
 .blog-content h1{
  font-size: 2rem;
  font-weight: bolder;
 }
 .blog-content img{
  max-width: 100%;
  height:auto;
  padding: 20px 0;
 }
 .blog-desc{
  font-size: 2.5rem;
 font-weight: bold;
 }
 .blog-cont{
  font-size: 1.5rem;
  text-align: justify;
 }